USE [master]
GO
/****** Object:  Database [QuanLySinhVien_K235480106041]    Script Date: 2/05/2026 10:28:52 PM ******/
CREATE DATABASE [QuanLySinhVien_K235480106041]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien_K235480106041', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLySinhVien_K235480106041.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_K235480106041_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLySinhVien_K235480106041_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien_K235480106041].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien_K235480106041]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeHocTapSinhVien]    Script Date: 2/05/2026 10:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- FUNCTION: fn_ThongKeHocTapSinhVien
-- Mô tả:
-- Hàm dùng để thống kê tình hình học tập của một sinh viên,
-- bao gồm số môn học, GPA trung bình, xếp loại học lực
-- và cảnh báo học vụ.
-- ============================================================

CREATE   FUNCTION [dbo].[fn_ThongKeHocTapSinhVien]
(
    -- Tham số đầu vào: Mã sinh viên cần thống kê
    @MaSV INT
)

-- Hàm trả về bảng kết quả thống kê
RETURNS @KetQua TABLE
(
    -- Mã sinh viên
    [MaSV] INT,

    -- Họ tên sinh viên
    [HoTen] NVARCHAR(150),

    -- Tổng số môn đã học
    [TongSoMon] INT,

    -- Số môn đạt
    [SoMonDat] INT,

    -- Số môn không đạt
    [SoMonKhongDat] INT,

    -- GPA trung bình hệ 4
    [GPA_Thang4] DECIMAL(3,2),

    -- Xếp loại học lực
    [XepLoai] NVARCHAR(50),

    -- Thông báo cảnh báo học vụ
    [CanhBaoHocVu] NVARCHAR(100)
)

AS
BEGIN

    -- ========================================================
    -- Khai báo biến dùng để lưu kết quả thống kê
    -- ========================================================
    DECLARE 
        @TongMon INT,
        @MonDat INT,
        @MonKhongDat INT,
        @GPA DECIMAL(3,2);

    -- ========================================================
    -- Tính tổng số môn, số môn đạt và không đạt
    -- ========================================================
    SELECT
        -- Tổng số môn học
        @TongMon = COUNT(*),

        -- Đếm số môn đạt
        @MonDat = SUM(
            CASE 
                WHEN [TrangThai] = N'Dat' THEN 1 
                ELSE 0 
            END
        ),

        -- Đếm số môn không đạt
        @MonKhongDat = SUM(
            CASE 
                WHEN [TrangThai] = N'KhongDat' THEN 1 
                ELSE 0 
            END
        )

    FROM [Diem]

    -- Lọc theo sinh viên cần thống kê
    WHERE [MaSV] = @MaSV;

    -- ========================================================
    -- Tính GPA trung bình hệ 4
    -- Chỉ tính các môn đạt
    -- ========================================================
    SELECT 
        @GPA = AVG([dbo].[fn_TinhGPA]([DiemTongKet]))

    FROM [Diem]

    WHERE [MaSV] = @MaSV 
        AND [TrangThai] = N'Dat';

    -- Nếu GPA NULL thì gán mặc định bằng 0
    IF @GPA IS NULL 
        SET @GPA = 0;

    -- ========================================================
    -- Chèn kết quả thống kê vào bảng trả về
    -- ========================================================
    INSERT INTO @KetQua

    SELECT

        -- Mã sinh viên
        sv.[MaSV],

        -- Họ tên sinh viên
        sv.[HoTen],

        -- Tổng số môn học
        ISNULL(@TongMon, 0),

        -- Số môn đạt
        ISNULL(@MonDat, 0),

        -- Số môn không đạt
        ISNULL(@MonKhongDat, 0),

        -- GPA trung bình hệ 4
        @GPA,

        -- ====================================================
        -- Xếp loại học lực dựa trên GPA
        -- ====================================================
        CASE

            -- GPA từ 3.6 trở lên
            WHEN @GPA >= 3.6 
                THEN N'XuatSac'

            -- GPA từ 3.0 đến dưới 3.6
            WHEN @GPA >= 3.0 
                THEN N'Gioi'

            -- GPA từ 2.0 đến dưới 3.0
            WHEN @GPA >= 2.0 
                THEN N'Kha'

            -- GPA từ 1.0 đến dưới 2.0
            WHEN @GPA >= 1.0 
                THEN N'TrungBinh'

            -- GPA dưới 1.0
            ELSE N'Yeu'

        END,

        -- ====================================================
        -- Đưa ra cảnh báo học vụ
        -- ====================================================
        CASE

            -- Không đạt từ 3 môn trở lên
            WHEN @MonKhongDat >= 3 
                THEN N'CANH BAO: Hoc vu yeu, can cai thien!'

            -- GPA quá thấp
            WHEN @GPA < 1.0 
                THEN N'CANH BAO: GPA qua thap!'

            -- Có môn chưa đạt
            WHEN @MonKhongDat > 0 
                THEN N'CANH BAO: Con mon chua dat.'

            -- Trạng thái học tập bình thường
            ELSE N'Binh thuong'

        END

    FROM [SinhVien] sv

    -- Lấy đúng sinh viên cần thống kê
    WHERE sv.[MaSV] = @MaSV;

    -- Trả về kết quả
    RETURN;

END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhGPA]    Script Date: 2/05/2026 10:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- FUNCTION: fn_TinhGPA
-- Mô tả:
-- Hàm dùng để quy đổi điểm hệ 10 sang điểm GPA hệ 4.
-- Trả về giá trị GPA tương ứng theo từng khoảng điểm.
-- ============================================================

CREATE   FUNCTION [dbo].[fn_TinhGPA]
(
    -- Tham số đầu vào: Điểm hệ 10 của sinh viên
    @DiemThang10 DECIMAL(4,2)
)
-- Giá trị trả về: GPA hệ 4
RETURNS DECIMAL(3,2)
AS
BEGIN

    -- Khai báo biến lưu GPA sau khi quy đổi
    DECLARE @GPA DECIMAL(3,2);

    -- Nếu điểm NULL thì GPA cũng NULL
    IF @DiemThang10 IS NULL
        SET @GPA = NULL;

    -- Điểm từ 8.5 trở lên => GPA 4.0
    ELSE IF @DiemThang10 >= 8.5
        SET @GPA = 4.0;

    -- Điểm từ 7.0 đến dưới 8.5 => GPA 3.0
    ELSE IF @DiemThang10 >= 7.0
        SET @GPA = 3.0;

    -- Điểm từ 5.5 đến dưới 7.0 => GPA 2.0
    ELSE IF @DiemThang10 >= 5.5
        SET @GPA = 2.0;

    -- Điểm từ 4.0 đến dưới 5.5 => GPA 1.0
    ELSE IF @DiemThang10 >= 4.0
        SET @GPA = 1.0;

    -- Điểm dưới 4.0 => GPA 0.0
    ELSE
        SET @GPA = 0.0;

    -- Trả về kết quả GPA
    RETURN @GPA;
END;

GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 2/05/2026 10:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[NienKhoa] [nvarchar](20) NOT NULL,
	[SiSo] [int] NOT NULL,
	[GiaoVienChuNhiem] [nvarchar](150) NOT NULL,
	[NgayTao] [date] NOT NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 2/05/2026 10:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
	[MaLop] [int] NOT NULL,
	[DiemRenLuyen] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 2/05/2026 10:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaDiem] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[DiemGK] [decimal](4, 2) NULL,
	[DiemCK] [decimal](4, 2) NULL,
	[DiemTongKet] [decimal](4, 2) NULL,
	[LanHoc] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachSinhVienTheoLop]    Script Date: 2/05/2026 10:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- FUNCTION: fn_DanhSachSinhVienTheoLop
-- Mô tả:
-- Hàm trả về danh sách sinh viên thuộc một lớp học,
-- kèm điểm trung bình, GPA trung bình và xếp loại học lực.
-- ============================================================

CREATE   FUNCTION [dbo].[fn_DanhSachSinhVienTheoLop]
(
    -- Tham số đầu vào: Mã lớp cần thống kê
    @MaLop INT
)

-- Hàm trả về dạng bảng (Table-Valued Function)
RETURNS TABLE
AS

RETURN
(

    SELECT

        -- Mã sinh viên
        sv.[MaSV],

        -- Họ tên sinh viên
        sv.[HoTen],

        -- Ngày sinh
        sv.[NgaySinh],

        -- Giới tính sinh viên
        sv.[GioiTinh],

        -- Tên lớp học
        lh.[TenLop],

        -- Tính điểm trung bình hệ 10
        -- Nếu chưa có điểm thì mặc định bằng 0
        ISNULL(AVG(d.[DiemTongKet]), 0) AS DiemTrungBinh,

        -- Tính GPA trung bình hệ 4
        -- Sử dụng hàm fn_TinhGPA để quy đổi
        ISNULL(AVG([dbo].[fn_TinhGPA](d.[DiemTongKet])), 0) AS GPA_TrungBinh,

        -- Xếp loại học lực dựa trên điểm trung bình
        CASE

            -- Điểm TB từ 8.5 trở lên
            WHEN AVG(d.[DiemTongKet]) >= 8.5 
                THEN N'XuatSac'

            -- Điểm TB từ 7.0 đến dưới 8.5
            WHEN AVG(d.[DiemTongKet]) >= 7.0 
                THEN N'Gioi'

            -- Điểm TB từ 5.5 đến dưới 7.0
            WHEN AVG(d.[DiemTongKet]) >= 5.5 
                THEN N'Kha'

            -- Điểm TB từ 4.0 đến dưới 5.5
            WHEN AVG(d.[DiemTongKet]) >= 4.0 
                THEN N'TrungBinh'

            -- Điểm TB dưới 4.0
            ELSE N'Yeu'

        END AS XepLoaiHocLuc

    FROM [SinhVien] sv

    -- Liên kết với bảng lớp học
    INNER JOIN [LopHoc] lh 
        ON sv.[MaLop] = lh.[MaLop]

    -- Liên kết bảng điểm để lấy điểm sinh viên
    -- Chỉ lấy các môn có trạng thái "Đạt"
    LEFT JOIN [Diem] d 
        ON sv.[MaSV] = d.[MaSV] 
        AND d.[TrangThai] = N'Dat'

    -- Điều kiện lọc theo mã lớp truyền vào
    WHERE sv.[MaLop] = @MaLop

    -- Gom nhóm theo từng sinh viên
    GROUP BY 
        sv.[MaSV], 
        sv.[HoTen], 
        sv.[NgaySinh], 
        sv.[GioiTinh], 
        lh.[TenLop]
);

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 2/05/2026 10:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [nvarchar](150) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[HocKy] [nvarchar](20) NOT NULL,
	[NamHoc] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diem] ON 

INSERT [dbo].[Diem] ([MaDiem], [MaSV], [MaMH], [DiemGK], [DiemCK], [DiemTongKet], [LanHoc], [TrangThai]) VALUES (1, 1, 1, CAST(7.50 AS Decimal(4, 2)), CAST(8.00 AS Decimal(4, 2)), CAST(7.80 AS Decimal(4, 2)), 1, N'Dat')
INSERT [dbo].[Diem] ([MaDiem], [MaSV], [MaMH], [DiemGK], [DiemCK], [DiemTongKet], [LanHoc], [TrangThai]) VALUES (2, 1, 2, CAST(8.00 AS Decimal(4, 2)), CAST(7.50 AS Decimal(4, 2)), CAST(7.70 AS Decimal(4, 2)), 1, N'Dat')
INSERT [dbo].[Diem] ([MaDiem], [MaSV], [MaMH], [DiemGK], [DiemCK], [DiemTongKet], [LanHoc], [TrangThai]) VALUES (3, 1, 3, CAST(6.50 AS Decimal(4, 2)), CAST(7.00 AS Decimal(4, 2)), CAST(6.80 AS Decimal(4, 2)), 1, N'Dat')
SET IDENTITY_INSERT [dbo].[Diem] OFF
GO
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [NienKhoa], [SiSo], [GiaoVienChuNhiem], [NgayTao]) VALUES (1, N'K59KMT.K01', N'2023-2027', 0, N'TS. Nguyễn Văn A', CAST(N'2026-05-02' AS Date))
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [NienKhoa], [SiSo], [GiaoVienChuNhiem], [NgayTao]) VALUES (2, N'K59KMT.K02', N'2023-2027', 1, N'ThS. Trần Thị B', CAST(N'2026-05-02' AS Date))
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [NienKhoa], [SiSo], [GiaoVienChuNhiem], [NgayTao]) VALUES (3, N'K58CNT.K01', N'2022-2026', 0, N'TS. Lê Văn C', CAST(N'2026-05-02' AS Date))
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [HocKy], [NamHoc]) VALUES (1, N'Cơ sở dữ liệu', 3, N'HK1', N'2023-2024')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [HocKy], [NamHoc]) VALUES (2, N'Lập trình hướng đối tượng', 4, N'HK1', N'2023-2024')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [HocKy], [NamHoc]) VALUES (3, N'Toán rời rạc', 3, N'HK1', N'2023-2024')
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [Email], [MaLop], [DiemRenLuyen], [TrangThai]) VALUES (1, N'Nguyễn Văn Hải', CAST(N'2005-03-15' AS Date), N'Nam', N'Hà Nội', N'hai@gmail.com', 2, 85, N'DangHoc')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [Email], [MaLop], [DiemRenLuyen], [TrangThai]) VALUES (2, N'Trần Thị Mai', CAST(N'2005-08-20' AS Date), N'Nữ', N'Hải Phòng', N'mai@gmail.com', 1, 90, N'DangHoc')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [Email], [MaLop], [DiemRenLuyen], [TrangThai]) VALUES (3, N'Lê Văn Nam', CAST(N'2004-12-10' AS Date), N'Nam', N'Nam Định', N'nam@gmail.com', 1, 75, N'DangHoc')
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LopHoc_TenLop]    Script Date: 2/05/2026 10:28:52 PM ******/
ALTER TABLE [dbo].[LopHoc] ADD  CONSTRAINT [UQ_LopHoc_TenLop] UNIQUE NONCLUSTERED 
(
	[TenLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT ((1)) FOR [LanHoc]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT (N'ChuaHoc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT ((0)) FOR [SiSo]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT ((0)) FOR [DiemRenLuyen]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT (N'DangHoc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHoc] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemCK] CHECK  (([DiemCK] IS NULL OR [DiemCK]>=(0) AND [DiemCK]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemCK]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemGK] CHECK  (([DiemGK] IS NULL OR [DiemGK]>=(0) AND [DiemGK]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemGK]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemTongKet] CHECK  (([DiemTongKet] IS NULL OR [DiemTongKet]>=(0) AND [DiemTongKet]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemTongKet]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_LanHoc] CHECK  (([LanHoc]>(0)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_LanHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_TrangThai] CHECK  (([TrangThai]=N'KhongDat' OR [TrangThai]=N'Dat' OR [TrangThai]=N'ChuaHoc'))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_TrangThai]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [CK_LopHoc_SiSo] CHECK  (([SiSo]>=(0)))
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [CK_LopHoc_SiSo]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK_MonHoc_SoTinChi] CHECK  (([SoTinChi]>(0)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK_MonHoc_SoTinChi]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_DiemRenLuyen] CHECK  (([DiemRenLuyen]>=(0) AND [DiemRenLuyen]<=(100)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_DiemRenLuyen]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_GioiTinh] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_GioiTinh]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_TrangThai] CHECK  (([TrangThai]=N'DinhChi' OR [TrangThai]=N'BaoLuu' OR [TrangThai]=N'DaTotNghiep' OR [TrangThai]=N'DangHoc'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoBangDiemSinhVien]    Script Date: 2/05/2026 10:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BaoCaoBangDiemSinhVien]
    @MaSV INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        sv.[MaSV],
        sv.[HoTen],
        lh.[TenLop],
        mh.[TenMH],
        mh.[SoTinChi],
        d.[DiemGK],
        d.[DiemCK],
        d.[DiemTongKet],
        [dbo].[fn_TinhGPA](d.[DiemTongKet]) AS GPA_MonHoc,
        d.[LanHoc],
        d.[TrangThai]
    FROM [SinhVien] sv
    INNER JOIN [LopHoc] lh ON sv.[MaLop] = lh.[MaLop]
    LEFT JOIN [Diem] d ON sv.[MaSV] = d.[MaSV]
    LEFT JOIN [MonHoc] mh ON d.[MaMH] = mh.[MaMH]
    WHERE sv.[MaSV] = @MaSV
    ORDER BY d.[LanHoc], mh.[TenMH];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSinhVien]    Script Date: 2/05/2026 10:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- PROCEDURE: sp_ThemSinhVien
-- Mô tả:
-- Thủ tục dùng để thêm mới sinh viên vào hệ thống.
-- Bao gồm các bước kiểm tra dữ liệu hợp lệ trước khi lưu.
-- ============================================================

CREATE   PROCEDURE [dbo].[sp_ThemSinhVien]

    -- Họ tên sinh viên
    @HoTen NVARCHAR(150),

    -- Ngày sinh
    @NgaySinh DATE,

    -- Giới tính
    @GioiTinh NVARCHAR(10),

    -- Địa chỉ sinh viên
    @DiaChi NVARCHAR(200),

    -- Email sinh viên
    @Email VARCHAR(100),

    -- Mã lớp học
    @MaLop INT,

    -- Điểm rèn luyện
    @DiemRenLuyen INT

AS
BEGIN

    -- Không hiển thị số dòng ảnh hưởng sau mỗi câu lệnh
    SET NOCOUNT ON;

    -- ========================================================
    -- Kiểm tra lớp học có tồn tại hay không
    -- ========================================================
    IF NOT EXISTS (
        SELECT 1 
        FROM [LopHoc] 
        WHERE [MaLop] = @MaLop
    )
    BEGIN

        -- Báo lỗi nếu lớp không tồn tại
        RAISERROR(N'Lớp học không tồn tại!', 16, 1);

        RETURN;
    END;

    -- ========================================================
    -- Kiểm tra email đã tồn tại hay chưa
    -- ========================================================
    IF EXISTS (
        SELECT 1 
        FROM [SinhVien] 
        WHERE [Email] = @Email
    )
    BEGIN

        -- Báo lỗi nếu email bị trùng
        RAISERROR(N'Email đã tồn tại trong hệ thống!', 16, 1);

        RETURN;
    END;

    -- ========================================================
    -- Kiểm tra độ tuổi sinh viên
    -- Điều kiện: từ 16 đến 30 tuổi
    -- ========================================================
    IF DATEDIFF(YEAR, @NgaySinh, GETDATE()) < 16 
        OR DATEDIFF(YEAR, @NgaySinh, GETDATE()) > 30
    BEGIN

        -- Báo lỗi nếu tuổi không hợp lệ
        RAISERROR(N'Tuổi sinh viên phải từ 16 đến 30!', 16, 1);

        RETURN;
    END;

    -- ========================================================
    -- Kiểm tra điểm rèn luyện hợp lệ
    -- Giá trị cho phép: từ 0 đến 100
    -- ========================================================
    IF @DiemRenLuyen < 0 
        OR @DiemRenLuyen > 100
    BEGIN

        -- Báo lỗi nếu điểm rèn luyện không hợp lệ
        RAISERROR(N'Điểm rèn luyện phải từ 0 đến 100!', 16, 1);

        RETURN;
    END;

    -- ========================================================
    -- Thêm sinh viên mới vào bảng SinhVien
    -- ========================================================
    INSERT INTO [SinhVien] 
    (
        [HoTen], 
        [NgaySinh], 
        [GioiTinh], 
        [DiaChi], 
        [Email], 
        [MaLop], 
        [DiemRenLuyen]
    )

    VALUES 
    (
        @HoTen, 
        @NgaySinh, 
        @GioiTinh, 
        @DiaChi, 
        @Email, 
        @MaLop, 
        @DiemRenLuyen
    );

    -- ========================================================
    -- Cập nhật sĩ số lớp sau khi thêm sinh viên
    -- ========================================================
    UPDATE [LopHoc]

    SET [SiSo] = [SiSo] + 1

    WHERE [MaLop] = @MaLop;

    -- ========================================================
    -- Thông báo thêm sinh viên thành công
    -- ========================================================
    PRINT N'Thêm sinh viên thành công!';

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TinhHocBongSinhVien]    Script Date: 2/05/2026 10:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- PROCEDURE: sp_TinhHocBongSinhVien
-- Mô tả:
-- Thủ tục dùng để tính GPA hệ 4 và xác định mức
-- học bổng dự kiến của sinh viên dựa trên:
-- + GPA trung bình
-- + Điểm rèn luyện
-- ============================================================

CREATE   PROCEDURE [dbo].[sp_TinhHocBongSinhVien]

    -- Mã sinh viên cần tính học bổng
    @MaSV INT,

    -- Biến OUTPUT lưu GPA hệ 4
    @GPA_Thang4 DECIMAL(3,2) OUTPUT,

    -- Biến OUTPUT lưu học bổng dự kiến
    @HocBongDuKien MONEY OUTPUT

AS
BEGIN

    -- Không hiển thị số dòng ảnh hưởng
    SET NOCOUNT ON;

    -- ========================================================
    -- Tính GPA trung bình hệ 4 của sinh viên
    -- Chỉ tính các môn đạt
    -- ========================================================
    SELECT 
        @GPA_Thang4 = AVG([dbo].[fn_TinhGPA]([DiemTongKet]))

    FROM [Diem]

    WHERE [MaSV] = @MaSV 
        AND [TrangThai] = N'Dat';

    -- Nếu GPA NULL thì gán mặc định bằng 0
    IF @GPA_Thang4 IS NULL 
        SET @GPA_Thang4 = 0;

    -- ========================================================
    -- Lấy điểm rèn luyện của sinh viên
    -- ========================================================
    DECLARE @DiemRL INT;

    SELECT 
        @DiemRL = [DiemRenLuyen]

    FROM [SinhVien]

    WHERE [MaSV] = @MaSV;

    -- ========================================================
    -- Xét học bổng dựa trên GPA và điểm rèn luyện
    -- ========================================================

    -- Học bổng loại A
    -- Điều kiện:
    -- GPA >= 3.6 và điểm rèn luyện >= 90
    IF @GPA_Thang4 >= 3.6 
        AND @DiemRL >= 90

        SET @HocBongDuKien = 5000000;

    -- Học bổng loại B
    -- Điều kiện:
    -- GPA >= 3.0 và điểm rèn luyện >= 80
    ELSE IF @GPA_Thang4 >= 3.0 
        AND @DiemRL >= 80

        SET @HocBongDuKien = 3000000;

    -- Học bổng loại C
    -- Điều kiện:
    -- GPA >= 2.0 và điểm rèn luyện >= 70
    ELSE IF @GPA_Thang4 >= 2.0 
        AND @DiemRL >= 70

        SET @HocBongDuKien = 1500000;

    -- Không đủ điều kiện nhận học bổng
    ELSE
        SET @HocBongDuKien = 0;

END;

GO
/****** Object:  Trigger [dbo].[trg_Diem_TinhDiemTongKet]    Script Date: 2/05/2026 10:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- TRIGGER: trg_Diem_TinhDiemTongKet
-- Mô tả:
-- Trigger tự động tính:
-- + Điểm tổng kết
-- + Trạng thái đạt / không đạt
-- sau khi thêm mới hoặc cập nhật điểm.
-- ============================================================

CREATE   TRIGGER [dbo].[trg_Diem_TinhDiemTongKet]

-- Trigger áp dụng trên bảng Diem
ON [dbo].[Diem]

-- Kích hoạt sau khi INSERT hoặc UPDATE
AFTER INSERT, UPDATE

AS
BEGIN

    -- Không hiển thị số dòng ảnh hưởng
    SET NOCOUNT ON;

    -- ========================================================
    -- Cập nhật điểm tổng kết và trạng thái môn học
    -- ========================================================
    UPDATE d

    SET

        -- ====================================================
        -- Tính điểm tổng kết:
        -- 30% điểm giữa kỳ + 70% điểm cuối kỳ
        -- ====================================================
        d.[DiemTongKet] = 
            ISNULL(i.[DiemGK], 0) * 0.3 
            + ISNULL(i.[DiemCK], 0) * 0.7,

        -- ====================================================
        -- Xác định trạng thái môn học
        -- >= 5 : Đạt
        -- < 5  : Không đạt
        -- ====================================================
        d.[TrangThai] = CASE

            WHEN 
                ISNULL(i.[DiemGK], 0) * 0.3 
                + ISNULL(i.[DiemCK], 0) * 0.7 >= 5

                THEN N'Dat'

            ELSE N'KhongDat'

        END

    FROM [Diem] d

    -- Liên kết với bảng inserted
    -- inserted chứa dữ liệu vừa thêm hoặc cập nhật
    INNER JOIN inserted i 
        ON d.[MaDiem] = i.[MaDiem];

END;
GO
ALTER TABLE [dbo].[Diem] ENABLE TRIGGER [trg_Diem_TinhDiemTongKet]
GO
/****** Object:  Trigger [dbo].[trg_LopHoc_UpdateSinhVien]    Script Date: 2/05/2026 10:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 2
-- Khi LopHoc thay đổi thì cập nhật ngược SinhVien
-- Gây ra đệ quy trigger
-- ============================================================
CREATE TRIGGER [dbo].[trg_LopHoc_UpdateSinhVien]
ON [dbo].[LopHoc]
AFTER UPDATE
AS
BEGIN

    PRINT N'Trigger 2 dang chay...';

    -- --------------------------------------------------------
    -- Cập nhật ngược bảng SinhVien
    -- Trigger này sẽ gọi lại Trigger 1
    -- --------------------------------------------------------
    UPDATE [SinhVien]

    SET [DiemRenLuyen] = ISNULL([DiemRenLuyen], 0) + 1

    WHERE [MaSV] = 1;

END;
GO
ALTER TABLE [dbo].[LopHoc] ENABLE TRIGGER [trg_LopHoc_UpdateSinhVien]
GO
/****** Object:  Trigger [dbo].[trg_SinhVien_UpdateLop]    Script Date: 2/05/2026 10:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- TRIGGER 1
-- Khi cập nhật SinhVien thì cập nhật sĩ số lớp
-- ============================================================
CREATE TRIGGER [dbo].[trg_SinhVien_UpdateLop]
ON [dbo].[SinhVien]
AFTER UPDATE
AS
BEGIN

    PRINT N'Trigger 1 dang chay...';

    -- --------------------------------------------------------
    -- Giảm sĩ số lớp cũ
    -- --------------------------------------------------------
    UPDATE lh
    SET lh.[SiSo] = lh.[SiSo] - 1

    FROM [LopHoc] lh
    INNER JOIN deleted d 
        ON lh.[MaLop] = d.[MaLop];

    -- --------------------------------------------------------
    -- Tăng sĩ số lớp mới
    -- --------------------------------------------------------
    UPDATE lh
    SET lh.[SiSo] = lh.[SiSo] + 1

    FROM [LopHoc] lh
    INNER JOIN inserted i 
        ON lh.[MaLop] = i.[MaLop];

END;
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [trg_SinhVien_UpdateLop]
GO
USE [master]
GO
